<div class="col-md-6">
    <h1>
        Blogger rss widget: alias
    </h1>

    <form action="" method="post">

        <div class="form-group">
            <label for="uri-input">Alias</label>
            <input type="text" class="form-control" id="uri-input" name="alias">
        </div>

        <div class="form-group">
            <label for="uri-input">Host</label>
            <input type="text" class="form-control" id="uri-input" name="host">
        </div>

        <input type="submit" class="form-control">
    </form>

</div>
<div class="col-md-6">

</div>