<div class="col-lg-12">
    <h1>
        What is the Creative Works?
    </h1>
    Проект где создают инструменты, с помошью которых, творческие люди помогают друг другу
    <hr>
    <div class="media">
        <div class="media-left hidden-xs">
            <img class="media-object" src="/img/blogger_widget_preview.jpg" alt="Blogger widget preview">
        </div>
        <div class="media-body text-justify">
            <h2 class="media-heading">Как раскрутить девелоперский блог?</h2>
            Этот виджет разработан для обмена подписчиками, между блогами одной тематики, он работает без регистрации, достаточно просто установить код в свой блог.
            Виджет оптимизирован под гугловский <a href="https://www.blogger.com/">Blogger</a>, однако будет работать на любом сайте с RSS в формате Atom.
            <br><a href="/product/blogger" class="btn btn-link btn-lg pull-right">More</a>
        </div>
    </div>
    <hr>
    <hr>
</div>